 #products{
     width: 100%;
     margin: 0;

     .product-list{
         width: 60%;
         margin:50px auto;

         h4{
             font-size: 2em;
         }

         .products-container{
             display: flex;
             flex-wrap: wrap;
             width: 100%;
             box-sizing: border-box;
             flex-basis: 25%;
             align-items: center;
             
             gap: 16px;
         }
     }
 }