.login-main-container{

    display: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: pink;
    padding: 50px 0;
    .login-box{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: 30px;
        background-color: #ffffff;
        width: 40%;
        min-height: 500px;
        padding: 50px;
        margin: auto;
        border-radius: 5px;

    }
}

.otp-input{
 
    border-bottom: 2px solid hotpink;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 15px;
    input{
        box-sizing: border-box;
        width: 100%;
        padding: 5px 8px;
        border: none;
        text-align: center;
        outline: none;
        
    }
}

.condition{
    a{
        color: hotpink;
    }
}

@media screen and (max-width:480px) {
    .login-main-container{

        .login-box{
            width: 95%;

            .login-title{
                font-size: 1.2rem;
            }
        }
    }
}